// Основные цвета
$white: #FFFFFF;
$black: #000000;
$dark-gray: #1A1A1A;
$light-gray: #D7D7D7;

// Дополнительные оттенки серого
$gray-100: #FAFAFA;
$gray-200: #C4C4C4;
$gray-300: #8B8B8B;
$gray-400: #7C7C7C;
$gray-500: #909090;
$gray-600: #AAAAAA;
$gray-silver: #f2f2f2;

// Белые с прозрачностью
$white-90: rgba(255, 255, 255, 0.9);
$white-0: rgba(255, 255, 255, 0);

// Чёрные с прозрачностью
$black-80: rgba(0, 0, 0, 0.8);
$black-32: rgba(0, 0, 0, 0.32);

// Акцентные цвета
$blue-light: #53C1DE;
$blue: #2196F3;
$blue-dark: #1ABCFE;
$blue-deep: #007ACC;
$blue-navy: #00546B;

$green-light: #0ACF83;
$green: #10AA50;
$green-dark: #12924F;
$green-forest: #539E43;

$red-light: #FF7262;
$red: #F24E1E;
$red-deep: #FF5722;

$yellow: #F7DF1E;

$purple-light: #A259FF;
$purple: #563D7C;

$pink: #CF649A;

$gray-silver: #B8C4C2;
