@use "../../styles/varibles"as *;
@use "../../styles/mixin"as *;


.skills {
    padding: 120px 0 160px;

    .text-title {
        margin: 79px 0 75px;

        @media(max-width: 980px) {
            padding-left: 15px;
        }
    }


    &-container {
        display: flex;
        flex-wrap: wrap;
        column-gap: 150px;
        row-gap: 65px;
        justify-content: center;

        .img-title {
            @include font("Montserrat-Regular", 24px, 400);
            letter-spacing: 0.14em;
            color: $black;
        }
    }

    &-block {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 17px;
    }

    &-wrapper {
        max-width: 919px;
        width: 100%;
        margin: 0 auto;
    }
}