@use "../../styles/varibles"as *;
@use "../../styles/mixin"as *;

.about {
    padding-top: 142px;
    color: $black;

    .text-explore {
        margin: 67px auto 85px;
    }

    .subtitle-text {
        margin: 70px auto 0;
    }

    &-services {
        padding: 108px 0 80px;
        display: flex;
        flex-wrap: wrap;
        gap: 67px;
        justify-content: center;
    }

    .services-block {
        max-width: 485px;
        width: 100%;
        padding: 20px 5px 20px 40px;

        .title {
            display: inline-block;
            font-weight: 700;
            font-size: 22px;
            letter-spacing: 0.19em;
            margin-bottom: 20px;
        }

        .text {
            @include font('OpenSans-Light', 300, 14px);
        }
    }
}