.header {
    position: fixed;
    width: 100%;
    padding: 15px 0;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .menu {
        display: flex;
        gap: 98px;
    }

    .nav {
        display: flex;
        gap: 98px;
    }

    .logo svg {
        fill: #000;
    }
}