@use "../../styles/varibles"as *;

.header {
    width: 100%;
    padding: 25px 0 25px;
    background: $black;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .menu {
        display: flex;
        gap: 8px;
    }

    .nav {
        display: flex;
        gap: 50px;
        align-items: center;
        flex: 1;
        justify-content: flex-end;

        a {
            text-transform: capitalize;
            border-radius: 30px;
            width: 147px;
            height: 46px;
            display: block;
            background: transparent;
            color: $white;
            padding: 10px 0;
            font-family: "Montserrat-Bold";
            font-weight: 700;
            font-size: 15px;
            text-align: center;

            &.active {
                background: $white;
                text-transform: uppercase;
            }
        }
    }

    .language-switcher {
        display: flex;
        gap: 10px;

        button {
            padding: 10px;
            font-family: "Montserrat-Bold";
            font-weight: 700;
            font-size: 15px;
            text-align: center;
            text-transform: uppercase;
            color: $white;

            &.active {
                border: 1px solid hsla(240, 7%, 62%, 1);
                box-shadow: 4px 4px 5px 0 #ccc;
            }
        }
    }

    .logo svg {
        fill: $white;
    }
}