@use "../../styles/varibles"as *;

.header {
    width: 100%;
    padding: 25px 0 25px;
    background: $black;
    transition: 0.3s linear;

    &.fixed {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: 15px 0;
        z-index: 10;
    }

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .menu {
        display: flex;
        gap: 8px;

        @media(max-width: 980px) {
            flex-direction: column;
            gap: 35px;
            order: 2;
            width: 100%;
            align-items: center;

            .item {
                width: 100%;
            }
        }
    }

    .nav {
        display: flex;
        gap: 50px;
        align-items: center;
        flex: 1;
        justify-content: flex-end;
        transition: .4s linear;

        a {
            text-transform: capitalize;
            border-radius: 30px;
            width: 147px;
            height: 46px;
            display: block;
            background: transparent;
            color: $white;
            padding: 10px 0;
            font-family: "Montserrat-Bold";
            font-weight: 700;
            font-size: 15px;
            text-align: center;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;


            &.active {
                background: $white;
                color: $black;
                text-transform: uppercase;
            }
        }

        @media(max-width: 980px) {
            position: absolute;
            top: 0;
            left: 100%;
            width: 0;
            height: 100vh;
            background: $black;
            z-index: 2;
            flex-direction: column;
            justify-content: center;
            gap: 80px;
            overflow-x: hidden;

            &.active {
                width: 100%;
                left: 0;
            }

            a {
                font-size: 24px;
                width: 100%;
                padding: 11px 0;
                height: auto;
                transition: .3s linear;
                border-radius: 0;

                &.active {
                    color: $black;
                    background: $white;
                }
            }
        }
    }

    .burger {
        display: none;
        color: $white;
        font-size: 50px;

        @media(max-width: 980px) {
            display: flex;
            position: relative;
            z-index: 4;
        }
    }

    .language-switcher {
        display: flex;
        gap: 10px;

        @media(max-width: 980px) {
            order: 1;
            gap: 55px;
        }

        button {
            padding: 10px;
            font-family: "Montserrat-Bold";
            font-weight: 700;
            font-size: 15px;
            text-align: center;
            text-transform: uppercase;
            color: $white;

            &.active {
                border: 1px solid hsla(240, 7%, 62%, 1);
                box-shadow: 4px 4px 5px 0 #ccc;
            }
        }
    }

    .logo svg {
        fill: $white;
    }
}